<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/home/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/generos/">Genero</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/peliculas/">Pelicula</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/salir/"> Salir</a>
    </li>
     <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>  -->
  </ul>
